version: '3.8'

services:
  app:
    build: .
    volumes:
      - ./:/var/www/html
    ports:
      - "8000:80"
    depends_on:
      - db

  db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: change_me_root
      MYSQL_DATABASE: jo_tourisme_db
      MYSQL_USER: jo_tourisme
      MYSQL_PASSWORD: jo_tourisme_pass
    volumes:
      - db_data:/var/lib/mysql
    ports:
      - "3308:3306"

volumes:
  db_data:
